.form {
    width: 100%;
    text-transform: capitalize;
    
}
input{
    width: 40%;
}
.add{
    background-color: rgb(206, 90, 36);
    border-radius: 20px;
    border: none;
    padding: 5%;
    color: white;
    float: right;
    margin-top: 10px;
}
label{
    margin-right: 3px;
    font-weight: bolder;
}

