@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Rubik+Wet+Paint&display=swap');
.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(53, 207, 112);
    margin-bottom: 20px;
  }
  
  .cartItem h3 {
    margin: 5px;
    color: rgb(19, 143, 66);
    font-family: 'Preahvihear', sans-serif;
    font-size: 160%;
  }
  
  .itemCount {
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
  
  .itemCount .price {
    margin-right: 50px;
    color: rgb(19, 143, 66);
    font-weight: 900;
  }
  
  .itemCount .amount {
    color: rgb(19, 143, 66);
  }
  
  .adds, .remove {
    margin: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
  }
  .remove{
    padding: 5px 12px;
  }
  
  .adds:hover {
    background-color: #ccc;
  }
  button:hover {
    background-color: #ccc;
  }
  