.cartItems {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }

  .order span{
    color: rgb(27, 172, 82);
    font-weight: bold;
  }

  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(19, 143, 66);
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: rgb(19, 143, 66);
    border-color: rgb(19, 143, 66);
    color: white;
  }
