.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 38, 5);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.badge:hover{
    background-color: rgb(143, 52, 10);
}
.text{
    margin-left: 5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(63, 21, 1);
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
  }
  
.button:hover {
    background-color: rgb(56, 19, 2);
}
