.badge{
    background-color: rgb(31, 168, 84);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.badge:hover{
    background-color: rgb(19, 143, 66);
}
.label{
    margin-left: 5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(15, 131, 60);
    color: white;
    border: none;
    padding: 10px 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.button:hover {
    background-color: rgb(243, 240, 240);
    color: rgb(15, 131, 60);
}

