@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.summary{
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.5);
  text-align: center;
  padding: 2rem;
  box-shadow: 0 1px 15px 10px rgba(0, 0, 0, 0.05)
}

.c {
  position: absolute;
  top:50%;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .heading{
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 550%;
  color:rgb(19, 143, 66);
  transform: rotate(-8deg);
}

.first-note{
  font-size: 180%;
  font-weight: bold;
  color: #138f42;
}

.second-note{
  font-size: 150%;
  font-weight: bold;
  color: rgb(19, 143, 66);
}


@media screen and (max-width: 768px) {
  /* Adjust the summary width for smaller screens */
  .summary {
    width: 80%;
  }

  .c {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 50%;
    transform: none;
  }
  /* Adjust the heading font size for smaller screens */
  .heading {
    font-size: 400%;
  }

  /* Adjust the note font sizes for smaller screens */
  .first-note {
    font-size: 140%;
  }

  .second-note {
    font-size: 120%;
  }
  
}
