.card {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
   
  }
  .card-container{
    display: grid;
    place-items: center;
  }

  @media screen and (max-width: 768px) {
    .card{
      width: 80%;
      margin-top: 140%;
    }
    
} 